<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Kotori.mapper.StockMapper">

    <update id="updateStockById">
        UPDATE `stock_table` SET stockNum = stockNum + ${delta} WHERE productId = #{productId}
    </update>

    <select id="getStockNumById" resultType="java.lang.Long">
        SELECT stockNum FROM `stock_table` WHERE productId = #{productId}
    </select>

</mapper>